.cardDescription {
  display: flex;
  padding: 8px 0;
  justify-content: space-between;
  .cardInfo {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 60%;
    text-align: right;
  }
}
.cardDivider {
  margin: 0 !important;
}
