{
  "presets": ["next/babel"],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "style": true // or 'css'
      }
    ]
    // [
    //   "import",
    //   {
    //     "libraryName": "lodash",
    //     "libraryDirectory": "",
    //     "camel2DashComponentName": false // default: true
    //   }
    // ]
  ]
}
