.FormHeading {
  margin-top: 1rem;
  h1 {
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
  }
}

// .FormWrapper {
//   flex: 0 0 33.33333333%;
//   .FormHeading {
//     h1 {
//       font-weight: 600;
//       font-size: 2rem;
//       text-align: center;
//     }
//   }
//   .FormBody {
//     // .FormButton {
//     //   margin-bottom: 0.2rem;
//     // }
//   }
// }
