@import '~antd/dist/antd';

.detail_about_title {
  color: #7356f1;
  margin: 20px 0px;
  font-size: 24px;
}

.ant-descriptions-item-label.ant-descriptions-item-no-colon::after {
  content: none !important;
}
